source ~/.vimrc

let mapleader = " "

set idearefactormode=keep
set ideajoin
set clipboard=unnamed
set showmode
" set keep-english-in-normal-and-restore-in-insert

noremap <Esc> <nop>
nmap <S-Enter> O<Esc>
nmap <CR> o<Esc>
:map <leader>gf "zyiw:exe "vs ".@z.""<CR>

" Navigation
nnoremap gs :action GotoSuperMethod<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gr :action RecentFiles<CR>
nnoremap gb :action Back<CR>
nnoremap gt :action GotoTest<CR>
nnoremap gz :action Scratch.ShowFilesPopup<CR>
nnoremap W :action EditorNextWordInDifferentHumpsMode<CR>
nnoremap B :action EditorPreviousWordInDifferentHumpsMode<CR>
vnoremap W :action EditorNextWordInDifferentHumpsModeWithSelection<CR>
vnoremap B :action EditorPreviousWordInDifferentHumpsModeWithSelection<CR>

" Editing
vnoremap es :action SurroundWith<CR>
nnoremap eg :action Generate<CR>
nnoremap er :action Refactorings.QuickListPopupAction<CR>
vnoremap er :action Refactorings.QuickListPopupAction<CR>
nnoremap ef :action ReformatCode<CR>
vnoremap ef :action ReformatCode<CR>
nnoremap eo :action OptimizeImports<CR>
nnoremap ec :action ShowIntentionActions<CR>
nnoremap eh :action OpenInlineChatAction<CR>
vnoremap eh :action OpenInlineChatAction<CR>
nnoremap <C-j> :m +1<CR>
nnoremap <C-k> :m -2<CR>
inoremap <C-j> <Esc>:m +1<CR>i
inoremap <C-k> <Esc>:m -2<CR>i

" Searching
set hlsearch
nnoremap <leader>sh :nohlsearch<CR>

" system clipboard
vmap <leader>y "+y
vmap <leader>d "+d
nmap <leader>y "+yy
nmap <leader>p "+p
nmap <leader>P "+P
vmap <leader>p "+p
vmap <leader>P "+P
vmap <leader>h :action PasteMultiple<CR>
nmap <leader>h :action PasteMultiple<CR>

" VCS operations 
nnoremap dc :action CheckinProject<CR>
nnoremap du :action Vcs.UpdateProject<CR>
nnoremap dg :action Vcs.QuickListPopupAction<CR>

" View
nnoremap si :action QuickImplementations<CR>
nnoremap sd :action QuickJavaDoc<CR>
nnoremap sf :action SelectInProjectView<CR>
nnoremap ss :action FileStructurePopup<CR>
nnoremap sp :action ParameterInfo<CR>
nnoremap sj :action ToggleRenderedDocPresentationForAll<CR>

" Misc
nnoremap cn :action CloseAllNotifications<CR>

" Split view
:nnoremap wr :action StretchSplitToRight<CR>
:nnoremap wl :action StretchSplitToLeft<CR>
:nnoremap wt :action StretchSplitToTop<CR>
:nnoremap wb :action StretchSplitToBottom<CR>
:nnoremap wc :action ChangeSplitOrientation<CR>

" Build and Run
nnoremap db :action MakeModule<CR>
nnoremap dr :action ChooseRunConfiguration<CR>

" Editor config
nnoremap <leader>fi :action EditorIncreaseFontSize<CR>
nnoremap <leader>fd :action EditorDecreaseFontSize<CR>
nnoremap <leader>fr :action EditorResetFontSizeGlobal<CR>
nnoremap <leader>fs :action ToggleFullScreen<CR>

" extensions
set surround

" Clojure
nnoremap gl :action ActivateClojureREPLToolWindow<CR>
nnoremap dl :action :cursive.repl.actions/run-top-sexp<CR>
vnoremap dl :action :cursive.repl.actions/run-top-sexp<CR>

" Mob.sh
nnoremap <leader>ms :action com.nowsprinting.intellij_mob.start<CR>
nnoremap <leader>mn :action com.nowsprinting.intellij_mob.next<CR>
nnoremap <leader>md :action com.nowsprinting.intellij_mob.done<CR>

set NERDTree
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'
